@import '_constants';

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@each $key, $num in $container-max-widths {
  @media (min-width: map-get($grid-breakpoints, $key)) {
      .container {
          max-width: $num;
      }
  }
}

@mixin limitLine($line, $lineHeight) {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $line;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  height: $line * $lineHeight;
}

.custom-thumbnail {
  position: relative;
  width: 100%;

  &--ratio-1-1 {
    padding-top: 100%;
  }

  &--flag {
    width: 20px;
    padding-top: calc(20px * 2 / 3);
  }

  &--logo-team {
    width: 20px;
    padding-top: 20px;
  }

  &__background {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
}

.competition-item {
  border: 1px solid $color-border;
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, .1);
  border-radius: .125rem;
  background: #fff;

  &__thumbnail {

  }

  &__info {
    padding: 15px 10px;

    a {
      @include limitLine(1, 22px)
    }

    &__area {
      display: flex;
      align-items: center;

      &__flag {

      }

      &__name {
        flex: 1;
        margin-left: 5px;
      }
    }
  }
}

.team-item {

  &__header {
    display: flex;
    align-items: center;

    &__logo {

    }

    &__name {
      margin-left: 10px;
    }
  }
}

.season-item {
  display: flex;

  &__title {
    margin-right: 10px;
  }
}

.standing {

  &__group {
    
  }

  &__table {
    &__club {
      display: flex;
      align-items: center;
      white-space: nowrap;
  
      &__position {
        width: 20px;
        text-align: center;
      }
  
      &__logo {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
}
